.fundo {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    background-image: url("../img/Papel_reciclavel.png");
}

/* Cores usadas:
Verde: #004B23
Dourado: #DBCB3A
Branco: #F0F0F0 */
